/*
Gradient Dark (c) Samia Ali <samiaab1990@gmail.com>
*/

code {
    /* background: linear-gradient(166deg, rgba(80,31,122,1) 0%, rgba(40,32,179,1) 80%); */
    background: #3f119c !important;
    /* background: #3f119c; */
    color: #e2f0cb !important;
}

.hljs
{
display: block;
overflow-x: auto;
padding: 0.5em;
background: rgb(80,31,122); 
background: linear-gradient(166deg, rgba(80,31,122,1) 0%, rgba(40,32,179,1) 90%) !important; 
/* background: #3f119c !important; */
color:#e7e4eb;
}

.hljs-subtr{
  color:#e7e4eb;
}

.codehilite .c, .highlight .c, .codehilite .cm, .highlight .cm, .codehilite .c1, .highlight .c1, .codehilite .ch, .highlight .ch, .codehilite .cs, .highlight .cs, .codehilite .sd, .highlight .sd
{
  /* color: red; */
  /* color: #E0BBE4; */
  color: #957DAD;
  
}
.hljs-comment
{
  color:#af8dd9;
}

.hljs-doctag,
.hljs-meta,
.hljs-quote
{
  /* color:#af8dd9; */
  color: #0ff;
}

.hljs-selector-tag,
.hljs-selector-id,
.hljs-template-tag,
.hljs-regexp,
.hljs-attr,
.hljs-tag
{
  color:#AEFBFF;
}

.hljs-params,
.hljs-selector-class,
.hljs-bullet

{
  color:#F19FFF;
  
}

.hljs-keyword,
.hljs-section,
.hljs-meta-keyword,
.hljs-symbol,
.hljs-type

{

  color:#17fc95;
}

.hljs-addition,
.hljs-number,
.hljs-link
{
  color:#C5FE00;
}


.hljs-string
{
  /* color: #38c0ff; */
  color: #EED73F;
}


.hljs-attribute,
.hljs-addition
{
  color:#E7FF9F;
}

.hljs-variable,
.hljs-template-variable

{
  color:#E447FF;
}

.hljs-builtin-name,
.hljs-built_in,
.hljs-formula,
.hljs-name,
.hljs-title,
.hljs-class,
.hljs-function
{
  color: #FFC800;

}

.hljs-selector-pseudo,
.hljs-deletion,
.hljs-literal
{
  color:#FF9E44;

}

.hljs-emphasis,
.hljs-quote
{
  font-style:italic;
}

.hljs-params,
.hljs-selector-class,
.hljs-strong,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-template-tag,
.hljs-section,
.hljs-keyword
{
  font-weight:bold;
}

button.md-clipboard
{
  color: #AEFBFF;
}

div.arithmatex {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.codehilite .p, .highlight .p {
  color: #fff !important;
}

.markdown-body .task-list-item {
  list-style-type: none !important;
}

.markdown-body .task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

.markdown-body .task-list-control {
  display: inline; /* Ensure label is inline incase theme sets it to block.*/
}

.markdown-body .task-list-control {
  position: relative;
  display: inline-block;
  color: #555;
  cursor: pointer;
}

.markdown-body .task-list-control input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}

.markdown-body .task-list-indicator {
  position: absolute;
  top: -8px;
  left: -18px;
  display: block;
  width:  14px;
  height: 14px;
  color: #eee;
  background-color: #eee;
  border-radius: .25rem;
}

.markdown-body .task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
  display: block;
  margin-top: -4px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 1;
  content: "✔";
  color: #1EBB52;
}

.fa-check-circle
{
  color: #1EBB52;
}
.fa-check
{
  color: #555;
}

.md-typeset__table > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(4) > svg:nth-child(1)

.md-typeset__table > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(3) > svg:nth-child(1)

html.js.fontawesome-i2svg-active.fontawesome-i2svg-complete body div.md-container main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset div.md-typeset__scrollwrap div.md-typeset__table table tbody tr td svg.svg-inline--fa.fa-check-circle.fa-w-16

html.js.fontawesome-i2svg-active.fontawesome-i2svg-complete body div.md-container main.md-main div.md-main__inner.md-grid div.md-content article.md-content__inner.md-typeset div.md-typeset__scrollwrap div.md-typeset__table table tbody tr td svg.svg-inline--fa.fa-check-circle.fa-w-16